# Ansible managed by slurm_deploy
# configuration for slurmdbd-{{ slurm_version }}
#

[Unit]
Description=Slurm DBD accounting daemon
After=munge.service network.target
ConditionPathExists={{ slurm_prefix }}/{{ slurm_version }}/etc/slurmdbd.conf

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/slurmdbd
ExecStart={{ slurm_prefix }}/{{ slurm_version }}/{{ ansible_distribution }}/{{ ansible_facts['distribution_major_version'] }}/sbin/slurmdbd $SLURMDBD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/slurmdbd.pid

[Install]
WantedBy=multi-user.target

